SUPABASE_PROJECT_ID="hnagevhwezjwpjpjortr"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_IVrUr7RF0OzOA7u4K93awA_QJkE-Wf5"
SUPABASE_URL="https://hnagevhwezjwpjpjortr.supabase.co"
VITE_FIREBASE_API_KEY="AIzaSyBAOIZJVkxWi8h7zxHWLhWgzKWeQiS_KtA"
VITE_FIREBASE_APP_ID="1:292719350854:web:337cfca831edb90cf56647"
VITE_FIREBASE_AUTH_DOMAIN="cortex-a7d21.firebaseapp.com"
VITE_FIREBASE_MEASUREMENT_ID="G-K615F4SRGC"
VITE_FIREBASE_MESSAGING_SENDER_ID="292719350854"
VITE_FIREBASE_PROJECT_ID="cortex-a7d21"
VITE_FIREBASE_STORAGE_BUCKET="cortex-a7d21.firebasestorage.app"
VITE_SUPABASE_PROJECT_ID="hnagevhwezjwpjpjortr"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_IVrUr7RF0OzOA7u4K93awA_QJkE-Wf5"
VITE_SUPABASE_URL="https://hnagevhwezjwpjpjortr.supabase.co"
